@model IEnumerable<BlogApp.Models.MongoDB.PostList>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WhenCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TruncatedContent)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.SqlId">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruncatedContent)
            </td>
        </tr>
}
    </tbody>
</table>
